// COLORS
$color-background: rgb(255,255,255);
$color-text: rgb(0,0,0);
$color-shadow: rgb(253,68,100);

// BASELINE VARS
$base-font-size: 18px;
$base-cap-ratio: 0.53; // adjust to font
$base-line-ratio: 1.618; // golden ratio (em)
$base-scale: 2;

$base-unit: $base-line-ratio / $base-scale * $base-font-size; // (px)