//===============================================
// IMPORTS
//===============================================
@import "globals";
@import "utilities";

//===============================================
// MIXINS
//===============================================

//===============================================
// RULES
//===============================================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:after,
  &:before {
    box-sizing: border-box;
  }
  // reset default cursors
  &:not(a) {
    cursor: default;
  }
}
a,
a * {
  cursor: pointer !important;
}
html, body {
  font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}
h1,h2,h3,h4,h5,h6,p{
  margin:0;
  font-weight: inherit;
}
q {
  &:before {
    content: open-quote; 
  }
  &:after { 
    content: close-quote; 
  }
}
:lang(en) q { quotes: '“' '”'; }
:lang(fr) q { quotes: '«' '»'; }
p {
  hyphens: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
// use small-caps for accronyms
abbr,abbr[title] {
//   font-size: 0.68em;
//   font-weight: bolder;
  cursor: help;
  line-height: 1;
  border: none;
}
pre, code {
  font-family: "source-code-pro", "Source Code Pro", monospace;
  white-space: pre;
  cursor: text;
}
code {
  font-size: 0.95em;
}
dt {
  margin: guv(1) 0 0;
  font-weight: bolder;
}
dd {
  margin-left: guh(1);
}
dl {
  margin: 0 0 guv(1) 0;
}
hr {
  margin: guv(4) 0 0;
}
.math {
  white-space: nowrap;
}
figure {
  margin: 0;
}
.hide,
.hidden {
  @include hide();
}