//===============================================
// IMPORTS
//===============================================

// bower:scss
@import "grid.scss/grid.scss";
// endbower

@import "init";

//===============================================
// SETUP
//===============================================
$font-family: 'Fira Sans', Verdana, sans-serif;
$base-cap-height: 0.53;

//===============================================
// HTML TREE
//===============================================
html {
  @include set-base-font-size(18px);
}

html, 
body {
  height: 100%;
}
body {
  background: $color-background;
  font-family: $font-family;
  font-weight: 400;
  color: $color-text;
  //@include show-baseline();
  >.inner {
    max-width: guh(34);
    margin: 0 auto;
  }
}
main {
  padding: 0 guh();
  h1 {
    @include align-to-baseline(120px, 0, -5);
    position: relative;
    font-weight: 500;
    left: -0.075em;
    letter-spacing: -0.02em;
    text-transform: lowercase;
  }
  p {
    @include align-to-baseline();
  }
  blockquote.highlight p {
    @include align-to-baseline(32px);
    font-weight: 300;
  }
}