// bower:scss
// endbower

//===============================================
// IMPORTS
//===============================================
@import "init";

//===============================================
// HTML TREE
//===============================================
html, 
body {
  height: 100%;
}
body {
  background: $color-background;
  font-family: 'Fira Sans', Verdana, sans-serif;
  font-weight: 400;
  color: $color-text;
  font-size: $base-font-size;
  line-height: $base-line-ratio + em;
  @include show-baseline();
  >.inner {
    max-width: em(grid-units-h(30));
    margin: 0 auto;
  }
}
main {
  padding: 0 grid-units-h();
  h1 {
    @include align-to-baseline(110px, 0, -5);
    position: relative;
    font-weight: 500;
    left: -0.1em;
    letter-spacing: -0.01em;
    text-transform: lowercase;
    .char1 {
      margin-right: 0.01em;
    }
    .char2 {
      margin-right: 0.007em;
    }
    .char4 {
      transform: rotate(10deg) translateY(0.01em);
      display: inline-block;
      margin-left: 0.05em;
    }
  }
  p {
    @include align-to-baseline();
  }
  blockquote.highlight p {
    @include align-to-baseline(25px);
    font-weight: 300;
  }
}


//===============================================
// ANIMATIONS
//===============================================
