<!doctype html>
<html class="no-js" lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cleartype" content="on" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Fira+Sans:300,400,400italic,500,700' />
    
    <!-- build:css(.) /assets/styles/vendor.css -->
    <!-- bower:css -->
    
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:css(.tmp) /assets/styles/main.css -->
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <!-- endbuild -->
  </head>
  <body>
    <div class="inner">
      {{> body }}
    </div>
    
    <script src="bower_components/jquery/dist/jquery.js"></script>
    
    <!-- build:js(.) /assets/scripts/vendor.js -->
    <!-- bower:js -->
    
    <!-- endbower -->
    <!-- endbuild -->
    
    <!-- build:js(.tmp) /assets/scripts/main.js -->
    <script src="/assets/scripts/main.js"></script>
    <!-- endbuild -->
    
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <!--script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-XXXXX-X');ga('require', 'displayfeatures');ga('send', 'pageview');
    </script-->
  </body>
</html>
